{
    servers :443 {
        protocols h1 h2
    }

    on_demand_tls {
        ask https://canlite.org/validate-domain
    }
}

:443 {
    tls {
        on_demand
    }

    reverse_proxy http://localhost:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-For {remote_host}
    }
}
